* {
  box-sizing: border-box
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71
}

a {
  color: #1e6bb8;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

.header {
  color: aqua;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: aqua;
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3)
}

.btn {
  padding: 0.75rem 1rem
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.logsign.com/uploads/cyber_security_protocols_c1974fb1ed.png);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  margin-top: 30px;
}

.footer>ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer>ul>li {
  width: 36px;
  height: 36px;
  margin: 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 18px;
}

.footer>ul>li>a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer>ul>li>a>i {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem
  }
}

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem
  }

  .btn+.btn {
    margin-top: 1rem;
    margin-left: 0
  }
}